$xsmall: 10px;
$small: 11px;
$norm: 12px;
$med: 14px;
$large: 16px;
$larger: 18px;
$xlarge: 20px;
$xxlarge: 24px;
$xxxlarge: 32px;
$reallybig: 44px;
$tremendous: 56px;
$absurd: 72px;

$black: #000;
$white: #fff;
$blue: #0c9cca; //
$med: #282828; //
$dark: #1e1e1e; //
$darkest: #181818; //
$med_dark: #202020; //
$warm: #666;
$light_grey: #cccccc;
$light: #ffffff; //
$social: #464646; //
$body: #4b4b4c; //

.slider{
	overflow: hidden;
	width: 100%;
	height: 360px;
	position: relative;
    z-index: 10;
	.slide{
		float: left;
		width: 960px;
		opacity: 0.3;
		transition: opacity .25s ease-in-out;
	   -moz-transition: opacity .25s ease-in-out;
	   -webkit-transition: opacity .25s ease-in-out;
		img{

		}
	}
	.slide.active{
		opacity: 1;
	}
	.slide_caption{
		position: absolute;
		top: 0;
		right: 471px;
		background-color: #1e1e1e;
		opacity: 0.60;
		color: #ffffff;
		/* width: 960px; */
		/* min-height: 100px; */
		z-index: 11;
		padding: 7px;
	}
	.slide-cover{
		position: absolute;
		top: 0;
		background-color: $dark;
		opacity: 0.60;
		width: 452px;
		height: 360px;
		z-index: 6;
		display: none;
	}
	.slide_holder{
	    position: relative;
	    z-index: 10;
		left: -1448px;
	}
	.horizontal img{
	    float: left;
	}
	.cover-left{
		left: 0;
	}
	.cover-right{
		right: 0;
	}

	.slide_nav{
	    color: #ffffff;
	    position: absolute;
	    top: 5px;
	    right: 3px;
	    z-index: 15;
	}
	.slide_nav.dots{
	    color: #ffffff;
	    position: absolute;
	    top: auto;
	    bottom: 35px;
	    right: 45%;
	    z-index: 15;
	}
	.slide_left{
	    position: absolute;
	    top: 50%;
	    left: 0;    
	    color: #ffffff;
	    background-color: #000000;
	    border-radius: 3px;
	    padding: 15px;
	    text-decoration: none;   
	    z-index: 15;
	    display: none;
	}
	.slide_right{
	    position: absolute;
	    top: 50%;
	    right: 0; 
	    color: #ffffff;   
	    background-color: #000000;
	    border-radius: 3px;
	    padding: 15px;
	    text-decoration: none;
	    z-index: 15;
	}
	.slide_left:hover, .slide_right:hover{
	    background-color: #FFBA00;
	    color: #000000;
	}
	.nav .slide_nav_item{
	    background-color: #000000;
	    float: left;
	    padding: 12px;
	    text-decoration: none;
	    color: #ffffff;
	    margin-right: 2px;
	    border-radius: 3px;
	}
	.nav .slide_nav_item:hover{
	    background-color: #FFBA00;
	    color: #000000;
	}
	.nav .slide_nav_anchor{
	    background-color: #FFBA00;
	    color: #000000;
	}
	.dots .slide_nav_item{
	    background-color: #000000;
	    float: left;
	    padding: 0px;
	    text-decoration: none;
	    color: #ffffff;
	    margin-right: 2px;
	    border-radius: 50%;
	    width: 20px;
	    height: 20px;
	    text-align: center;    
	}
	.dots .slide_nav_item:hover{
	    background-color: #FFBA00;
	    color: #000000;
	}
	.dots .slide_nav_anchor{
	    background-color: #FFBA00;
	    color: #000000;
	}
	.slide_controls{
	    color: #ffffff;
	    position: absolute;
	    bottom: 5px;
	    right: 3px;
	    z-index: 15;
	}
	.slide_controls a{
	    background-color: #000000;
	    float: left;
	    padding: 6px;
	    text-decoration: none;
	    color: #ffffff;
	    margin-right: 2px;
	    border-radius: 8px;
	}
	.slide_controls a:hover{
	    background-color: #FFBA00;
	    color: #000000;
	}
}